/***********************************************************************
General settings
***********************************************************************/

:root {
    --main-color: #000;
    --main-bg-color: #FFF;
    --overlay-color: rgba(0, 0, 0, 0.8);
}

body {
    margin: auto;
    min-width: 320px;
    max-width: 1440px;
    font-family: 'Space Mono', monospace;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/***********************************************************************
Header & footer
***********************************************************************/

header {
    padding-left: 146px;
    padding-right: 146px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header img {
    display: inline-block;
    width: 216px;
    height: 14px;
}

ul {
    display: flex;
    padding-left: 0;
}

header ul {
    gap: 45px;
}

footer ul {
    justify-content: center;
    gap: 86px;
    border-top: 2px solid var(--main-color);
}

header li,
footer li {
    margin: 0;
    padding: 0;
    display: inline-block;
    font-size: 16px;
    text-transform: uppercase;
    list-style: none;
}

header a,
footer a {
    color: var(--main-color);
    text-decoration: none;
}

.contact-btn:hover,
header a:hover,
footer a:hover {
    font-weight: 700;
}

footer {
    margin-top: auto;
}

/***********************************************************************
Popup Contact
***********************************************************************/

.modal {
    visibility: hidden;
    position: fixed;
    z-index: 10;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    overflow: auto;
    display: flex;
    align-items: center;
    background-color: var(--overlay-color);
}

.open-modal {
    visibility: visible;
}

.modal-content {
    margin: auto;
    position: relative;
    width: 597px;
    height: 769px;
    overflow: hidden;
    background-color: var(--main-bg-color);
    border: 5px solid var(--main-color);
}

.modal-content::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 106px;
    top: 18px;
    left: 50%;
    transform: translate(-50%);
    background-image: url('../images/contact-head-desktop.png');
    background-repeat: no-repeat;
    background-size: cover;
}
