/***********************************************************************
General settings
***********************************************************************/

:root {

    /* Couleurs charte MotaPhoto */
    --main-color: #000;
    --main-bg-color: #FFF;
    --primary-red-color: #E00000;
    --secondary-red-color: #FE5858;
    --tertiary-red-color: #FFD6D6;
    --dark-blue-color: #313144;
    --dark-gray-color: #C4C4C4;
    --medium-gray-color: #D8D8D8;
    --light-gray-color: #E5E5E5;

    /* Constantes additionnelles */
    --border-gray-color: #B8BBC2; /* Mock. Figma */
    --border-blue-color: #9747FF; /* Mock. Figma */
    --overlay-bg-color: rgba(0, 0, 0, 0.8); /* Spec. Fonct. */
    --overlay-card-color: rgba(0, 0, 0, 0.6); /* Mock. Figma */

    /* Constantes techniques */
    --mobile-header-height: 72px;
    --max-inner-width: 1148px;
}

body {
    margin: auto;
    max-width: 1440px;
    min-width: 320px;
    min-height: 100vh;
    font-family: 'Space Mono', monospace;    
    display: flex;
    flex-direction: column;
    align-items: center;
}

.site-content {
    max-width: var(--max-inner-width); 
    margin: auto 28px;
}

.hidden {
    display: none;
}

/***********************************************************************
Composants
***********************************************************************/

/*======================================================================
Boutons (bouton standard du thème et bouton dans Contact Form 7)
======================================================================*/

.motaphoto-button,
.contact-form input[type=submit] {
    height: 50px;
    border: none;
    border-radius: 2px;
    font-family: 'Space Mono', monospace;
    font-size: 12px;
    font-weight: 400;
    color: var(--main-color);
    background-color: var(--medium-gray-color);
    transition: all 500ms ease-out;
}

.motaphoto-button {
    width: 272px;
}

.contact-form input[type=submit] {
    width: 263px;
}

.motaphoto-button:hover,
.contact-form input[type=submit]:hover {
    cursor: pointer;
    color: var(--main-bg-color);
    background-color: var(--main-color);
}

@media screen and (max-width: 720px) {
    .contact-form input[type=submit] {
        width: 190px;
    }
    .photo-action-contact .contact-button {
        width: 263px;
    }
}

/*======================================================================
Bloc photo élastique qui impose seulement le respect du ratio d'aspect
======================================================================*/

/* Bloc photo de base (desktop et mobile) */
.card-container {
    aspect-ratio: 564 / 495;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.card-container .photo-link {
    width: 100%;
    height: 100%;
}

.card-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Overlay sur bloc de base (desktop) */
.card-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    text-transform: uppercase;
    color: var(--main-bg-color);
    background-color: var(--overlay-card-color);
    z-index: 10;
    opacity: 0;
    transition: opacity 300ms ease-in-out;
}

.card-overlay:hover {
    opacity: 1;
}

.card-overlay .lightbox-button {
    width: 34px;
    height: 34px;
    position: absolute;
    top: 11px;
    right: 18px;
    background-image: url('../images/icon-fullscreen.svg');
    background-size: contain;
    background-position: center center;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.card-overlay .photo-button {
    width: 46px;
    height: 32px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url('../images/icon-eye.svg');
    background-size: contain;
    background-position: center center;
}

.card-overlay .titre {
    position: absolute;
    bottom: 12px;
    left: 17px;
    font-family: 'Poppins', monospace;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1.4px;
}

.card-overlay .categories {
    position: absolute;
    right: 23px;
    bottom: 12px;
    font-family: 'Space Mono', monospace;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 1.4px;
}

/* Pas d'overlay sur mobile */
@media screen and (max-width: 720px) {
    .card-overlay {
        display: none;
    }
}

/***********************************************************************
Header & footer
***********************************************************************/

/*======================================================================
Items des menus header & Footer
======================================================================*/

.custom-header-menu,
.custom-footer-menu {
    font-size: 16px;
    text-transform: uppercase;
    list-style: none;
    padding-left: 0;
}

.custom-header-menu a,
.custom-footer-menu a {
    text-decoration: none;
    color: var(--main-color);
}

.popup-contact-link {
    cursor: pointer;
}

.custom-header-menu a:hover,
.custom-footer-menu a:hover,
.popup-contact-link:hover {
    font-weight: 700;
}

/*======================================================================
Site header
======================================================================*/

.site-header {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--main-bg-color);
}

.navigation-bar {
    width: 100%;
    margin: auto 40px;
    max-width: var(--max-inner-width);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.custom-logo-link img {
    width: 216px;
    height: 14px;
}

.custom-header-menu {
    display: flex;
    justify-content: space-between;
    gap: 45px;
}

/* Burger icon caché sur desktop */
.burger-button {
    display: none;
    width: 28px;
    height: 20px;
    cursor: pointer;
    background-image: url('../images/icon-burger-default.svg');
    background-position: center center; 
    background-repeat: no-repeat;
}

@media screen and (max-width: 720px) {

    /* Header permanent avec burger icon visible */
    .site-header {
        height: var(--mobile-header-height);
        position: sticky;
        top: 0;
        z-index: 10;
    }
    .burger-button {
        display: block;
    }

    /* Mmenu spécifique animé couvrant l'écran */
    .custom-nav-menu-container {
        position: fixed;
        width: 100%;
        left: 100%;
        transition: left 250ms ease-out;
        top: var(--mobile-header-height);
        height: calc(100vh - var(--mobile-header-height));
        background-color: var(--primary-red-color);
    }
    .custom-nav-menu-container.expanded {
        left: 0;
    }

    /* Menu vertical facilement accessible et croix de sortie */
    .custom-nav-menu-container.expanded + .burger-button {
        background-image: url('../images/icon-burger-open.svg');
    }
    .custom-header-menu {
        flex-direction: column;
        text-align: center;
        gap: 18px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .custom-header-menu a,
    .popup-contact-link {
        font-size: 44px;
        color: var(--main-bg-color);
    }
}

/*======================================================================
Site footer
======================================================================*/

.site-footer {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    background-color: var(--main-bg-color);
    border-top: 1px solid var(--main-color);
}

.custom-footer-menu {
    display: flex;
    justify-content: center;
    gap: 86px;
}

/* Menu footer vertical et accessible sur mobile */
@media screen and (max-width: 720px) {
    .site-footer {
        height: 208px;
    }
    .custom-footer-menu {
        flex-direction: column;
        align-items: center;
        gap: 24px;
    }
}

/***********************************************************************
Page d'accueil
***********************************************************************/

/*======================================================================
Hero header
======================================================================*/

.hero-container {
    width: 100%;
    max-height: 962px;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-container .hero-image img{
    width: 100%;
    height: auto;
    object-fit: cover;
}

.hero-container .hero-title {
    font-size: 96px;
    font-weight: 700;
    font-style: italic;
    text-transform: uppercase;
    color: transparent;
    -webkit-text-stroke: 3px var(--main-bg-color);
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media screen and (max-width: 720px) {
    .hero-container {
        max-height: 253px;
    }
    .hero-container .hero-title {
        font-size: 28px;
        -webkit-text-stroke: 1px var(--main-bg-color);
    }
}

/*======================================================================
Filtrage et tri
======================================================================*/

.zone-dropdowns {
    margin-top: 48px;
    height: 114px;
}

.zone-filtres-tri {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.zone-filtres {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 36px;
}

@media screen and (max-width: 720px) {
    .zone-dropdowns {
        margin-top: 28px;
        height: 168px;
    }
    .zone-filtres-tri {
        justify-content: flex-start;
        flex-direction: column;
        gap: 6px;
    }
    .zone-filtres {
        flex-direction: column-reverse;
        gap: 6px;
    }
}

/*======================================================================
Porfolio Nathalie Mota dans une grille de 2 colonnes sur desktop et
une colonne unique sur mobile
======================================================================*/

#zone-portfolio {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, minmax(278.8px, 564px));
    grid-gap: 20px;
}

@media screen and (max-width: 720px) {
    #zone-portfolio {
        grid-template-columns: repeat(1, minmax(278.8px, 564px));
    }
}

/*======================================================================
Zone du bouton éventuellement proposé pour charger plus de photos
======================================================================*/

.zone-more {
    height: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/***********************************************************************
Page single photo
***********************************************************************/

/*======================================================================
Zone contenu de la photo
======================================================================*/

.photo-detail {
    margin-top: 38px;
    display: grid;
    grid-template-columns: repeat(2, minmax(50%, 1fr));
}

/* Titre et caractéristiques */

.photo-detail-text {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    border-bottom: 1px solid var(--main-color);
}

.photo-detail-text h1 {
    font-size: 66px;
    font-style: italic; 
    font-weight: 400;
    line-height: 58px;
    text-transform: uppercase;
    max-width: 420px;
    margin-bottom: 20px;
}

.photo-detail-text .photo-data {
    font-size: 14px;
    letter-spacing: 1.4px;
    text-transform: uppercase;
    margin-bottom: 37px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.photo-detail-text .photo-data p {
    margin: 0;
}

/* Image */

.photo-detail-image {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.photo-detail-image img {
    width: 100%;
    height: auto;
}

@media screen and (max-width: 720px) {
    .photo-detail {
        grid-template-columns: repeat(1, minmax(50%, 1fr));
    }
    /* Inversion de l'ordre text-image sur mobile */
    .photo-detail-text {
        order: 2;
    }
}

/*======================================================================
Zone de prise de contact et de navigation dans les photos
======================================================================*/
.photo-action {
    height: 118px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--main-color);
}

/* Prise de contact */

.photo-action-contact {
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.photo-action-contact p {
    font-family: 'Poppins', monospace;
    font-size: 14px;
    font-weight: 300;
}

/* Navigation et preview */

/* Preview */
.photo-action-navigate .featured {
    width: 81px;
    height: 71px;
    object-fit: cover;
    overflow: hidden;
    position: relative;
}

.photo-action-navigate .featured img {
    width: 100%;
    height: 100%;
    position: absolute;
}

.photo-action-navigate .featured .current {
    opacity: 0.6;
}

.photo-action-navigate .featured .previous,
.photo-action-navigate .featured .next {
    opacity: 0;
    transition: opacity 150ms ease-in;
}

.photo-action-navigate .featured .previous.displayed,
.photo-action-navigate .featured .next.displayed {
    opacity: 1;
}

/* ?avigation */
.photo-action-navigate .arrows {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.photo-action-navigate .arrow-left,
.photo-action-navigate .arrow-right {
    width: 25px;
    height: 32px;
    background-image: url('../images/icon-arrow-black.svg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    cursor: pointer;
}

.photo-action-navigate .arrow-left {
    transform: rotate(180deg);
}

@media screen and (max-width: 720px) {
    .photo-action-navigate {
        display: none;
    }
    .photo-action {
        height: 133px;
        flex-direction: column;
    }
    .photo-action-contact {
        flex-direction: column;
        align-items: flex-start;
        align-content: center;
    }
}

/*======================================================================
Zone de suggestion de photos similaires
======================================================================*/

.photo-like-titre {
    font-size: 18px;
    text-transform: uppercase;
    margin-top:77px;
    margin-bottom: 52px;
}

.photo-like-galerie {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, minmax(278.8px, 564px));
    grid-gap: 20px;
    margin-bottom: 109px;
}

@media screen and (max-width: 720px) {
    .photo-like-titre {
        text-align: center;
        margin-top: 24px;
        margin-bottom: 20px;
        }
    .photo-like-galerie {
        grid-template-columns: repeat(1, minmax(278.8px, 564px));
        margin-bottom: 24px;
    }
}

/***********************************************************************
Popup Contact
***********************************************************************/

.modal {
    visibility: hidden;
    opacity: 0;
    position: fixed;
    z-index: 50;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: auto;
    display: flex;
    align-items: center;
    background-color: var(--overlay-bg-color);
    transition: all 400ms ease-in;
}

.open-modal {
    visibility: visible;
    opacity: 1;
}

.modal-content {
    margin: auto;
    position: relative;
    width: 597px;
    height: 769px;
    overflow: hidden;
    box-sizing: border-box;
    background-color: var(--main-bg-color);
    border: 5px solid var(--main-color);
}

.modal-content::before {
    content: '';
    position: absolute;
    width: 886px;
    height: 106px;
    top: 13px;
    left: 50%;
    transform: translate(-50%);
    background-image: url('../images/contact-head-desktop.png');
    background-repeat: no-repeat;
    background-size: contain;
}

.contact-form {
    margin-top: 170px;
    display: flex;
    justify-content: center;
    font-family: 'Poppins', monospace;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    color: var(--dark-blue-color);
}

.contact-form input,
.contact-form textarea {
    width: 263px;
    padding: 0 12px;
    border: 1px solid var(--border-gray-color);
    border-radius: 8px;
    box-sizing: border-box;
}

.contact-form p {
    margin: 0 0 24px 0;
}

.contact-form input,
.contact-form textarea {
    margin-top: 3px;
}

.contact-form input {
    height: 40px;    
}

.contact-form textarea {
    height: 210px;   
}

.contact-form input[type=submit] {
    margin-top: -9px;
}

.contact-form .wpcf7-spinner,
.contact-form .wpcf7-response-output {
    display: none;
}

@media screen and (max-width: 720px) {
    .modal-content {
        width: 286px;
        height: 583px;
        border: 3px solid var(--main-color);
    }    
    .modal-content::before {
        width: 459px;
        height: 55px;
        background-image: url('../images/contact-head-mobile.png');
    }
    .contact-form {
        margin-top: 87px;
    }
    .contact-form p {
        margin: 0 0 14px 0;
    }
    .contact-form input,
    .contact-form textarea {
        width: 190px;
        padding: 0 12px;
    }
    .contact-form textarea {
        height: 149px;   
    }
}

/***********************************************************************
Lightbox
***********************************************************************/

@keyframes fade-in {
    from { opacity: 0; }
    to { opacity: 1; }
}

/* Popup modale lightbox */

.lightbox {
    position: fixed;
    visibility: hidden;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    background-color: var(--overlay-bg-color);
    z-index: 100;
    opacity: 0;
    transition: all 400ms ease-in;
}

.lightbox.open {
    visibility: visible;
    opacity: 1;
}

.lightbox button {
    border: none;
    cursor: pointer;
}

.lightbox .button-icon {
    display: flex;
    justify-content: center;
}

/* Boutons close lightbox */

.lightbox_close {
    position: fixed;
    width: 22px;
    height: 22px;
    background: url('../images/icon-close.svg') center center / 100% 100% no-repeat transparent;
    top: 55px;
    right: 52px;
    opacity: 0.8;
    transition: opacity 300ms;
    z-index: 120;
}

/* Boutons précédent et suivant */

#lightbox_prev,
#lightbox_next {
    position: fixed;
    top: 50%;
    height: 100%;
    transform: translateY(-50%);
    background-color: transparent;
    z-index: 110;
}

#lightbox_prev {
    left: 50px;
}

#lightbox_next {
    right: 50px;
}

.lightbox .label {
    display: block;
    font-family: 'Space Mono', monospace;
    font-size: 12px;
    color: var(--main-bg-color);
    opacity: 0.9;
    transition: opacity 300ms;
}

.lightbox .arrow {
    width: 25px;
    height: 20px;
    background-image: url('../images/icon-arrow-white.svg');
    background-position: center center;
    background-repeat: no-repeat;
    background-color: transparent;
}

#lightbox_prev .arrow{
    position: fixed;
    left: -30px;
    transform: rotate(180deg);
    transition: scaleX 400ms;
}

#lightbox_prev:hover .arrow {
    transform: scaleX(-1.4) translate(4px);
}

#lightbox_next .arrow {
    position: fixed;
    right: -30px;
    transition: scaleX 400ms;
}

#lightbox_next:hover .arrow {
    transform: scaleX(1.4) translate(4px);
}

.lightbox button:hover {
    opacity: 1;
    font-weight: 700;
}

/* Contenu principal */

.lightbox_container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 150px;    
    margin-right: 150px;
    height: 100vh;
    font-size: 12px;
    color: var(--main-bg-color);
}
.lightbox_container .photo-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 19px;
}

.lightbox_container img {
    max-width: 100%;
    max-height: 97vh;
    object-fit: contain;
    animation: fade-in 400ms ease-in;
}

.lightbox_container .description {
    display: flex;
    justify-content: space-between;
    font-family: 'Space Mono', monospace;
    font-size: 14px;
    text-transform: uppercase;
}

/***********************************************************************
Style d'un dropdown menu permettant de sélectionner une option
parmi une liste.  Pur style compatible avec l'intégration dans
une <form> utilisable pour effectuer une requête Ajax wp_query.
***********************************************************************/

/* Commun dropdown */
.dropdown {
    width: 260px;
    font-family: 'Poppins', monospace;
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    color: var(--dark-blue-color);
    position: relative;
}

@media screen and (max-width: 720px) {
    .dropdown {
        width: 270px;
    }
}

/* Custom radio dropdown */
.dropdown input.option {
    display: none;
}

.dropdown-button {
    padding: 12px 18px;
    border: 1.3px solid var(--border-gray-color);
    border-radius: 8px;
    cursor: pointer;
    text-transform: uppercase;
    /* Défaut: chevron vers le bas */
    background-image: url('../images/icon-chevron-down.svg');
    background-position: right 18px center;
    background-repeat: no-repeat;
}

/* Dropdown ouvert */
.dropdown.open > .dropdown-button {
    border-radius: 8px 8px 0 0;
    background-image: url('../images/icon-chevron-up.svg');
}

.dropdown-button:hover {
    border: 1.3px solid var(--border-blue-color);
}

.dropdown-button:focus {
    outline: none;
}

/* Neutraliser events sur bouton */
.dropdown-button .default-label,
.dropdown-button .selected-label {
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

/* Dropdown liste déployée */
.dropdown-list {
    border-radius: 0 0 8px 8px;
    width: 100%;
    position: absolute;
    box-sizing: border-box;
    background-color: var(--main-bg-color);
    z-index: 20;
    transform: scaleY(1);
    transition-duration: 400ms;
}

/* Dropdown liste cachée */
.dropdown-list.collapsed {
    transform: scaleY(0);
}

.dropdown-item {
    display: block;
    padding: 12px 18px;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

/* Arrondis au bas du dernier item */
.dropdown-item:last-child {
    border-radius: 0 0 8px 8px;
}

.dropdown-item:hover {
    background-color: var(--tertiary-red-color);
}

.dropdown-item:active {
    background-color: var(--secondary-red-color);
}

.dropdown-list input[type="radio"].selected + .dropdown-item {
    color: var(--main-bg-color);
    background-color: var(--primary-red-color);
}
