/***********************************************************************
General settings
***********************************************************************/

:root {
    --main-color: #000;
    --main-bg-color: #FFF;
    --overlay-bg-color: rgba(0, 0, 0, 0.6);
    --input-field-border-color: #B8BBC2;
    --primary-red-color: #E00000;
    --secondary-red-color: #FE5858;
    --tertiary-red-color: #FFD6D6;
    --blue-color: #313144;
    --dark-gray-color: #C4C4C4;
    --medium-gray-color: #D8D8D8;
    --light-gray-color: #E5E5E5;
}

body {
    margin: auto;
    min-width: 320px;
    max-width: 1440px;
    font-family: 'Space Mono', monospace;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/***********************************************************************
Header & footer
***********************************************************************/

header {
    padding-left: 146px;
    padding-right: 146px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header img {
    display: inline-block;
    width: 216px;
    height: 14px;
}

ul {
    display: flex;
    padding-left: 0;
}

header ul {
    gap: 45px;
}

footer ul {
    justify-content: center;
    gap: 86px;
    border-top: 2px solid var(--main-color);
}

header li,
footer li {
    margin: 0;
    padding: 0;
    display: inline-block;
    font-size: 16px;
    text-transform: uppercase;
    list-style: none;
}

.contact-btn,
header a,
footer a {
    color: var(--main-color);
    text-decoration: none;
}

.contact-btn:hover,
header a:hover,
footer a:hover {
    cursor: pointer;
    font-weight: 700;
}

footer {
    margin-top: auto;
}

/***********************************************************************
Popup Contact
***********************************************************************/

.modal {
    visibility: hidden;
    opacity: 0;
    position: fixed;
    z-index: 10;
    top: 0; right: 0; bottom: 0; left: 0;
    overflow: auto;
    display: flex;
    align-items: center;
    background-color: var(--overlay-bg-color);
    transition: all 500ms;
}

.open-modal {
    visibility: visible;
    opacity: 1;
}

.modal-content {
    margin: auto;
    position: relative;
    width: 597px;
    height: 769px;
    overflow: hidden;
    box-sizing: border-box;
    background-color: var(--main-bg-color);
    border: 5px solid var(--main-color);
}

.modal-content::before {
    content: '';
    position: absolute;
    width: 886px;
    height: 106px;
    top: 13px;
    left: 50%;
    transform: translate(-50%);
    background-image: url('../images/contact-head-desktop.png');
    background-repeat: no-repeat;
    background-size: contain;
}

.contact-form {
    margin-top: 170px;
    display: flex;
    justify-content: center;
    font-family: 'Poppins', monospace;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    color: var(--blue-color);
}

.contact-form input,
.contact-form textarea {
    width: 263px;
    padding: 0 12px;
    border: 1px solid var(--input-field-border-color);
    border-radius: 8px;
    box-sizing: border-box;
}

.contact-form p {
    margin: 0 0 25px 0;
}

.contact-form input,
.contact-form textarea {
    margin-top: 3px;
}

.contact-form input {
    height: 40px;    
}

.contact-form textarea {
    height: 210px;   
}

.contact-form input[type=submit] {
    margin-top: -9px;
    height: 50px;
    border: none;
    border-radius: 2px;
    font-family: 'Space Mono', monospace;
    font-size: 12px;
    font-weight: 400;
    color: var(--main-color);
    background-color: var(--medium-gray-color);
    transition: all 400ms;
}

.contact-form input[type=submit]:hover {
    cursor: pointer;
    color: var(--main-bg-color);
    background-color: var(--main-color);
}

.contact-form .wpcf7-spinner,
.contact-form .wpcf7-response-output {
    display: none;
}
