/***********************************************************************
General settings
***********************************************************************/

:root {

    /* Couleurs charte MotaPhoto */
    --main-color: #000;
    --main-bg-color: #FFF;
    --primary-red-color: #E00000;
    --secondary-red-color: #FE5858;
    --tertiary-red-color: #FFD6D6;
    --dark-blue-color: #313144;
    --dark-gray-color: #C4C4C4;
    --medium-gray-color: #D8D8D8;
    --light-gray-color: #E5E5E5;

    /* Constantes additionnelles */
    --border-gray-color: #B8BBC2; /* Mock. Figma */
    --border-blue-color: #9747FF; /* Mock. Figma */
    --overlay-bg-color: rgba(0, 0, 0, 0.8); /* Spec. Fonct. */
    --overlay-card-color: rgba(0, 0, 0, 0.6); /* Mock. Figma */

    /* Constantes techniques */
    --mobile-header-height: 72px;
    --max-inner-width: 1148px;
}

body {
    margin: auto;
    max-width: 1440px;
    min-width: 320px;
    min-height: 100vh;
    font-family: 'Space Mono', monospace;    
    display: flex;
    flex-direction: column;
    align-items: center;
}

.site-content {
    max-width: var(--max-inner-width); 
    margin: auto 28px;
}

.hidden {
    display: none;
}

/***********************************************************************
Composants
***********************************************************************/

/*======================================================================
Bouton
======================================================================*/

.motaphoto-button,
.contact-form input[type=submit] {
    height: 50px;
    border: none;
    border-radius: 2px;
    font-family: 'Space Mono', monospace;
    font-size: 12px;
    font-weight: 400;
    color: var(--main-color);
    background-color: var(--medium-gray-color);
    transition: all 500ms ease-out;
}

.motaphoto-button {
    width: 272px;
}

.motaphoto-button:hover,
.contact-form input[type=submit]:hover {
    cursor: pointer;
    color: var(--main-bg-color);
    background-color: var(--main-color);
}

/*======================================================================
Bloc photo élastique qui impose seulement le respect de l'aspect ratio
======================================================================*/

.card-container {
    aspect-ratio: 564 / 495;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.card-container .photo-link {
    width: 100%;
    height: 100%;
}

.card-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    text-transform: uppercase;
    color: var(--main-bg-color);
    background-color: var(--overlay-card-color);
    z-index: 10;
    opacity: 0;
    transition: opacity 300ms ease-in-out;
}

.card-overlay:hover {
    opacity: 1;
}

.card-overlay .lightbox-button {
    width: 34px;
    height: 34px;
    position: absolute;
    top: 11px;
    right: 18px;
    background-image: url('../images/icon-fullscreen.svg');
    background-size: contain;
    background-position: center center;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.card-overlay .photo-button {
    width: 46px;
    height: 32px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url('../images/icon-eye.svg');
    background-size: contain;
    background-position: center center;
}

.card-overlay .titre {
    position: absolute;
    bottom: 12px;
    left: 17px;
    font-family: 'Poppins', monospace;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1.4px;
}

.card-overlay .categories {
    position: absolute;
    right: 23px;
    bottom: 12px;
    font-family: 'Space Mono', monospace;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 1.4px;
}

@media screen and (max-width: 720px) {
    .card-overlay {
        display: none;
    }
}

/***********************************************************************
Header & footer
***********************************************************************/

/*======================================================================
Items des menus header & Footer
======================================================================*/

.custom-header-menu,
.custom-footer-menu {
    font-size: 16px;
    text-transform: uppercase;
    list-style: none;
    padding-left: 0;
}

.custom-header-menu a,
.custom-footer-menu a {
    text-decoration: none;
    color: var(--main-color);
}

.popup-contact-link {
    cursor: pointer;
}

.custom-header-menu a:hover,
.custom-footer-menu a:hover,
.popup-contact-link:hover {
    font-weight: 700;
}

/*======================================================================
Site header
======================================================================*/

.site-header {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--main-bg-color);
}

.navigation-bar {
    width: 100%;
    margin: auto 40px;
    max-width: var(--max-inner-width);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.custom-logo-link img {
    width: 216px;
    height: 14px;
}

.custom-header-menu {
    display: flex;
    justify-content: space-between;
    gap: 45px;
}

.burger-button {
    display: none;
    width: 28px;
    height: 20px;
    cursor: pointer;
    background-image: url('../images/icon-burger-default.svg');
    background-position: center center; 
    background-repeat: no-repeat;
}

@media screen and (max-width: 720px) {
    .site-header {
        height: var(--mobile-header-height);
        position: sticky;
        top: 0;
        z-index: 10;
    }
    .burger-button {
        display: block;
    }
    .custom-nav-menu-container {
        position: fixed;
        width: 100%;
        left: 100%;
        transition: left 250ms ease-out;
        top: var(--mobile-header-height);
        height: calc(100vh - var(--mobile-header-height));
        background-color: var(--primary-red-color);
    }
    .custom-nav-menu-container.expanded {
        left: 0;
    }
    .custom-nav-menu-container.expanded + .burger-button {
        background-image: url('../images/icon-burger-open.svg');
    }
    .custom-header-menu {
        flex-direction: column;
        text-align: center;
        gap: 18px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .custom-header-menu a,
    .popup-contact-link {
        font-size: 44px;
        color: var(--main-bg-color);
    }
}

/*======================================================================
Site footer
======================================================================*/

.site-footer {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    background-color: var(--main-bg-color);
    border-top: 1px solid var(--main-color);
}

.custom-footer-menu {
    display: flex;
    justify-content: center;
    gap: 86px;
}

@media screen and (max-width: 720px) {
    .site-footer {
        height: 208px;
    }
    .custom-footer-menu {
        flex-direction: column;
        align-items: center;
        gap: 24px;
    }
}

/***********************************************************************
Page d'accueil
***********************************************************************/

/*======================================================================
Hero header
======================================================================*/

.hero-container {
    width: 100%;
    max-height: 962px;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-container .hero-image img{
    width: 100%;
    height: auto;
    object-fit: cover;
}

.hero-container .hero-title {
    font-size: 96px;
    font-weight: 700;
    font-style: italic;
    text-transform: uppercase;
    color: transparent;
    -webkit-text-stroke: 3px var(--main-bg-color);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@media screen and (max-width: 720px) {
    .hero-container {
        max-height: 253px;
    }
    .hero-container .hero-title {
        font-size: 28px;
        -webkit-text-stroke: 1px var(--main-bg-color);
    }
}

/*======================================================================
Filtrage et tri
======================================================================*/

.zone-dropdowns {
    margin-top: 48px;
    height: 114px;
}

.zone-filtres-tri {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.zone-filtres {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 36px;
}

@media screen and (max-width: 720px) {
    .zone-dropdowns {
        margin-top: 28px;
        height: 168px;
    }
    .zone-filtres-tri {
        justify-content: flex-start;
        flex-direction: column;
        gap: 6px;
    }
    .zone-filtres {
        flex-direction: column-reverse;
        gap: 6px;
    }
}

/*======================================================================
Porfolio Nathalie Mota dans une grille de 2 colonnes sur desktop et
une colonne unique sur mobile
======================================================================*/

#photos-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, minmax(278.8px, 564px));
    grid-gap: 20px;
}

@media screen and (max-width: 720px) {
    #photos-container {
        grid-template-columns: 1fr;
    }
}

/*======================================================================
Zone du bouton éventuellement proposé pour charger plus de photos
======================================================================*/

.zone-more {
    height: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/***********************************************************************
Page single photo
***********************************************************************/

.photo-info {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.photo-info-text {
    font-size: 14px;
    border-bottom: 1px solid var(--main-color);
}

.photo-info-text h1 {
    font-size: 66px;
    font-style: italic; 
    font-weight: 400;
    line-height: 58px;
    text-transform: uppercase;
}

.photo-info-photo {
    width: 50%;
}

.photo-info-photo img {
    width: 100%;
    height: auto;
}

.photo-navigation {
    height: 118px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--main-color);
}

.photo-navigation-contact {
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.photo-navigation-contact p {
    font-family: 'Poppins', monospace;
    font-size: 14px;
    font-weight: 300;
}

.photo-navigation-prev-next .featured {
    width: 81px;
    height: 71px;
    object-fit: cover;
    overflow: hidden;
    position: relative;
}

.photo-navigation-prev-next .featured img {
    width: 100%;
    height: 100%;
    position: absolute;
}

.photo-navigation-prev-next .featured .previous,
.photo-navigation-prev-next .featured .next {
    opacity: 0;
    z-index: 10;
}

.photo-navigation-prev-next-btns {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.photo-similaire {
    margin-top: 72px;
}

.photo-similaire-titre {
    font-size: 18px;
    text-transform: uppercase;
}

.photo-similaire-galerie {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

/***********************************************************************
Popup Contact
***********************************************************************/

.modal {
    visibility: hidden;
    opacity: 0;
    position: fixed;
    z-index: 10;
    top: 0; right: 0; bottom: 0; left: 0;
    overflow: auto;
    display: flex;
    align-items: center;
    background-color: var(--overlay-bg-color);
    transition: all 400ms ease-in;
}

.open-modal {
    visibility: visible;
    opacity: 1;
}

.modal-content {
    margin: auto;
    position: relative;
    width: 597px;
    height: 769px;
    overflow: hidden;
    box-sizing: border-box;
    background-color: var(--main-bg-color);
    border: 5px solid var(--main-color);
}

.modal-content::before {
    content: '';
    position: absolute;
    width: 886px;
    height: 106px;
    top: 13px;
    left: 50%;
    transform: translate(-50%);
    background-image: url('../images/contact-head-desktop.png');
    background-repeat: no-repeat;
    background-size: contain;
}

.contact-form {
    margin-top: 170px;
    display: flex;
    justify-content: center;
    font-family: 'Poppins', monospace;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    color: var(--dark-blue-color);
}

.contact-form input,
.contact-form textarea {
    width: 263px;
    padding: 0 12px;
    border: 1px solid var(--border-gray-color);
    border-radius: 8px;
    box-sizing: border-box;
}

.contact-form p {
    margin: 0 0 25px 0;
}

.contact-form input,
.contact-form textarea {
    margin-top: 3px;
}

.contact-form input {
    height: 40px;    
}

.contact-form textarea {
    height: 210px;   
}

.contact-form input[type=submit] {
    margin-top: -9px;
    width: 263px;
}

.contact-form .wpcf7-spinner,
.contact-form .wpcf7-response-output {
    display: none;
}

/***********************************************************************
Lightbox
***********************************************************************/

.lightbox {
    visibility: hidden;
    opacity: 0;
    position: fixed;
    z-index: 100;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: var(--overlay-bg-color);
    transition: all 400ms ease-in;
}

.open-lightbox {
    visibility: visible;
    opacity: 1;
}

#lightbox__prev,
#lightbox__next {
    width: 200px;
    height: 100%;
    z-index: 110;
    top: 50%;
    transform: translateY(-50%);
}

#lightbox__next {
    left: auto;
    right: 0;
}

#lightbox__prev {
    background: url(../images/icon-left-arrow.svg) left center / 45px 20px no-repeat;
}

#lightbox__next {
    background: url(../images/icon-right-arrow.svg) center right / 45px 20px no-repeat;   
}

.lightbox__close {
    width: 23px;
    height: 23px;
    background: url(../images/icon-close.svg) center center / 100% 100% no-repeat transparent;
    top: 20px;
    right: 40px;
    z-index: 120;
}

.lightbox button {
    position: fixed;
    cursor: pointer;
    border: none;
    font-family: 'Space Mono', monospace;
    font-size: 12px;
    color: var(--main-bg-color);
    opacity: 0.8;
    transition: opacity 300ms;
}

#lightbox__prev:hover,
#lightbox__next:hover,
.lightbox__close:hover {
    opacity: 1;
    font-weight: 700;
}

.lightbox__container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 200px;    
    margin-right: 200px;
    max-height: 100vh;
    font-size: 12px;
    color: var(--main-bg-color);
}

@keyframes fade-in {
    from { opacity: 0; }
    to { opacity: 1; }
}

.lightbox__container img {
    max-width: 100%;
    height: 95vh;
    object-fit: contain;
    animation: fade-in 400ms ease-in;
}

.lightbox__container .info-line {
    display: flex;
    justify-content: space-between;
}

/***********************************************************************
Style d'un dropdown menu permettant de sélectionner une option
parmi une liste.  Pur style compatible avec l'intégration dans
une <form> utilisable pour effectuer une requête Ajax wp_query.
***********************************************************************/

/* Commun dropdown */
.dropdown {
    width: 260px;
    font-family: 'Poppins', monospace;
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    color: var(--dark-blue-color);
    position: relative;
}

@media screen and (max-width: 720px) {
    .dropdown {
        width: 270px;
    }
}

/* Custom radio dropdown */
.dropdown input.option {
    display: none;
}

.dropdown-button {
    padding: 12px 18px;
    border: 1.3px solid var(--border-gray-color);
    border-radius: 8px;
    cursor: pointer;
    text-transform: uppercase;
    /* Défaut: chevron vers le bas */
    background-image: url('../images/icon-chevron-down.svg');
    background-position: right 18px center;
    background-repeat: no-repeat;
}

/* Dropdown ouvert */
.dropdown.open > .dropdown-button {
    border-radius: 8px 8px 0 0;
    background-image: url('../images/icon-chevron-up.svg');
}

.dropdown-button:hover {
    border: 1.3px solid var(--border-blue-color);
}

.dropdown-button:focus {
    outline: none;
}

/* Neutraliser events sur bouton */
.dropdown-button .default-label,
.dropdown-button .selected-label {
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

/* Dropdown liste déployée */
.dropdown-list {
    border-radius: 0 0 8px 8px;
    width: 100%;
    position: absolute;
    box-sizing: border-box;
    background-color: var(--main-bg-color);
    z-index: 20;
    transform: scaleY(1);
    transition-duration: 400ms;
}

/* Dropdown liste cachée */
.dropdown-list.collapsed {
    transform: scaleY(0);
}

.dropdown-item {
    display: block;
    padding: 12px 18px;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

/* Arrondis au bas du dernier item */
.dropdown-item:last-child {
    border-radius: 0 0 8px 8px;
}

.dropdown-item:hover {
    background-color: var(--tertiary-red-color);
}

.dropdown-item:active {
    background-color: var(--secondary-red-color);
}

.dropdown-list input[type="radio"].selected + .dropdown-item {
    color: var(--main-bg-color);
    background-color: var(--primary-red-color);
}
