/***********************************************************************
General settings
***********************************************************************/

:root {

    /* Couleurs charte MotaPhoto */
    --main-color: #000;
    --main-bg-color: #FFF;
    --overlay-bg-color: rgba(0, 0, 0, 0.85);
    --input-field-border-color: #B8BBC2;
    --primary-red-color: #E00000;
    --secondary-red-color: #FE5858;
    --tertiary-red-color: #FFD6D6;
    --blue-color: #313144;
    --dark-gray-color: #C4C4C4;
    --medium-gray-color: #D8D8D8;
    --light-gray-color: #E5E5E5;
}

body {
    margin: auto;
    min-width: 320px;
    max-width: 1440px;
    font-family: 'Space Mono', monospace;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

/***********************************************************************
Composants
***********************************************************************/

/*======================================================================
Bouton
======================================================================*/

.motaphoto-button,
.contact-form input[type=submit] {
    height: 50px;
    border: none;
    border-radius: 2px;
    font-family: 'Space Mono', monospace;
    font-size: 12px;
    font-weight: 400;
    color: var(--main-color);
    background-color: var(--medium-gray-color);
    transition: all 400ms;
}

.motaphoto-button {
    width: 272px;
}

.motaphoto-button:hover,
.contact-form input[type=submit]:hover {
    cursor: pointer;
    color: var(--main-bg-color);
    background-color: var(--main-color);
}

/*======================================================================
Filtre & tri
======================================================================*/

select {
    font-family: 'Poppins', monospace;
    font-size: 32px;
    font-weight: 500;
}

/*======================================================================
Bloc photo
======================================================================*/

.photo-container {
    position: relative;
    max-width: 564px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.photo-container img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.photo-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    color: var(--main-bg-color);
    font-family: 'Space Mono', monospace;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;

    z-index: 10;
    background-color: rgba(0, 0, 0, 0.5);
}

.photo-overlay .lightbox-btn {
    position: absolute;
    width: 34px;
    height: 34px;
    border: none;
    background-image: url('../images/icon-fullscreen.svg');
    background-position: center center;
    background-repeat: no-repeat;
    background-color: transparent;
    top: 0;
    right: 0;
    cursor: pointer;
}

.photo-overlay .single-link {
    position: absolute;
    width: 46px;
    height: 32px;
    background-image: url('../images/icon-eye.svg');
    background-position: center center;
    background-repeat: no-repeat;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.photo-overlay .titre {
    position: absolute;
    bottom: 0;
    left: 0;
}

.photo-overlay .categories {
    position: absolute;
    right: 0;
    bottom: 0;
}

/***********************************************************************
Header & footer
***********************************************************************/

header {
    height: 80px;
    padding: 0 146px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.custom-logo-link img {
    display: inline-block;
    width: 216px;
    height: 14px;
}

footer {
    height: 40px;
    margin-top: auto;
}

#menu-top-menu,
#menu-bottom-menu {
    display: flex;
    padding-left: 0;
}

#menu-top-menu {
    gap: 45px;
}

#menu-bottom-menu {
    justify-content: center;
    gap: 86px;
    border-top: 2px solid var(--main-color);
}

#menu-top-menu li,
#menu-bottom-menu li {
    margin: 0;
    padding: 0;
    display: inline-block;
    font-size: 16px;
    text-transform: uppercase;
    list-style: none;
}

.popup-link,
#menu-top-menu a,
#menu-bottom-menu a {
    color: var(--main-color);
    text-decoration: none;
}

.popup-link:hover,
#menu-top-menu a:hover,
#menu-bottom-menu a:hover {
    cursor: pointer;
    font-weight: 700;
}

/***********************************************************************
Hero header
***********************************************************************/

.hero-container {
    width: 100%;
    max-height: 962px;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero-container::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: url('../images/hero-photo-event-desktop.png');
    background-position: center center;
    background-repeat: no-repeat;
}

@media screen and (max-width: 720px) {
    .hero-container::after {
        background-image: url('../images/hero-photo-event-mobile.png');
    }
}

/***********************************************************************
Popup Contact
***********************************************************************/

.modal {
    visibility: hidden;
    opacity: 0;
    position: fixed;
    z-index: 10;
    top: 0; right: 0; bottom: 0; left: 0;
    overflow: auto;
    display: flex;
    align-items: center;
    background-color: var(--overlay-bg-color);
    transition: all 400ms ease-in;
}

.open-modal {
    visibility: visible;
    opacity: 1;
}

.modal-content {
    margin: auto;
    position: relative;
    width: 597px;
    height: 769px;
    overflow: hidden;
    box-sizing: border-box;
    background-color: var(--main-bg-color);
    border: 5px solid var(--main-color);
}

.modal-content::before {
    content: '';
    position: absolute;
    width: 886px;
    height: 106px;
    top: 13px;
    left: 50%;
    transform: translate(-50%);
    background-image: url('../images/contact-head-desktop.png');
    background-repeat: no-repeat;
    background-size: contain;
}

.contact-form {
    margin-top: 170px;
    display: flex;
    justify-content: center;
    font-family: 'Poppins', monospace;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    color: var(--blue-color);
}

.contact-form input,
.contact-form textarea {
    width: 263px;
    padding: 0 12px;
    border: 1px solid var(--input-field-border-color);
    border-radius: 8px;
    box-sizing: border-box;
}

.contact-form p {
    margin: 0 0 25px 0;
}

.contact-form input,
.contact-form textarea {
    margin-top: 3px;
}

.contact-form input {
    height: 40px;    
}

.contact-form textarea {
    height: 210px;   
}

.contact-form input[type=submit] {
    margin-top: -9px;
    width: 263px;
}

.contact-form .wpcf7-spinner,
.contact-form .wpcf7-response-output {
    display: none;
}

/***********************************************************************
Lightbox
***********************************************************************/

.lightbox {
    visibility: hidden;
    opacity: 0;
    position: fixed;
    z-index: 10;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: var(--overlay-bg-color);
    transition: all 400ms ease-in;
}

.open-lightbox {
    visibility: visible;
    opacity: 1;
}

#lightbox__prev,
#lightbox__next {
    width: 28px;
    height: 100%;
    z-index: 20;
    top: 0;
}

#lightbox__next {
    left: auto;
    right: 0;
}

#lightbox__prev {
    background: url(../images/icon-left-arrow.svg) center center / 100% 100% no-repeat transparent; 
    text-indent: 50px;   
}

#lightbox__next {
    background: url(../images/icon-right-arrow.svg) center center / 100% 100% no-repeat transparent;   
    text-indent: -50px;
}

.lightbox__close {
    width: 23px;
    height: 23px;
    background: url(../images/icon-close.svg) center center / 100% 100% no-repeat transparent;
    top: 20px;
    right: 40px;
    z-index: 30;
}

.lightbox button {
    position: fixed;
    cursor: pointer;
    border: none;
    cursor: pointer;
    font-family: 'Space Mono', monospace;
    font-size: 12px;
    color: var(--main-bg-color);
    opacity: 0.5;
    transition: opacity 300ms;
}

#lightbox__prev:hover,
#lightbox__next:hover,
.lightbox__close:hover {
    opacity: 1;
    font-weight: 700;
}

.lightbox__container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 100px;    
    margin-right: 100px;
    min-height: 100vh;
}

@keyframes fade-in {
    from { opacity: 0; }
    to { opacity: 1; }
}

.lightbox__container img {
    max-width: 100%;
    height: auto;
    animation: fade-in 400ms ease-in;
}
